form {
  display: grid;
  grid-template-columns: 15% auto;
  margin-top: 1rem;
  text-align: center;
}

label,
input,
button {
  margin: 1rem;
  font-size: 1rem;
}

button {
  grid-column: 1 / span 2;
  background-color: whitesmoke;
  font-size: 2rem;
  color: darkslategrey;
  cursor: pointer;
}

button:hover {
  background-color: ghostwhite;
  color: black;
}
